<h1>Students</h1>
<pre>
  <code><%= session.to_hash %></code>
</pre>
<% if current_user %>
  Welcome, <%= current_user.email %>
<% end %>
<table class="table">
  <thead>
    <tr>
      <th>
        Name
      </th>
      <th>
        # Picks
      </th>
      <th>
        Last Picked
      </th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @students.each do |student| %>
    <tr>
      <td>
        <%= link_to student.name, student_path(student.id) %>
      </td>
      <td>
        <%= student.count %>
      </td>
      <td>
        <%= student.picks.last.created_at if student.picks.count > 0 %>
      </td>
      <td>
        <%= link_to "show", student_path(student.id), class: 'btn btn-default btn-xs' %>
        <%= link_to "✕", student_path(student.id), class: 'btn btn-danger btn-xs' %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>

<%= link_to "PICK", pick_students_path, class: 'epic-btn', method: :post %>
<%= link_to "New Student", new_student_path, class: 'btn btn-success' %>
