<h1><%= @student.name %></h1>
<%= link_to "Home", students_path %>
<% unless @student.photo_url.blank? %>
  <%= image_tag @student.photo_url %>
<% end %>

<%= link_to "Edit", edit_student_path(@student.id) %>
<%= link_to "Delete", delete_student_path(@student.id), method: :delete %>
